bin/
/build/
.idea/
*.iml
output.raw
output.res
.classpath
.settings
results
out/
log4j.log


## -------------------------------
## Kate Swap Files
## -------------------------------
*.kate-swp
.#kate-*

## -------------------------------
## Backup artifacts
## -------------------------------
~*
*~

# maven output
target
